*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-image: url(slike/texture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    height: 60px;
    width: 100%;
    background-color: rgb(110, 237, 237);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    height: 100%;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
nav a:hover{
    background-color: #f0f0f0;
}
nav .home-link{
    margin-right: auto;
}
nav svg{
    fill: var(black);
}
#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button{
    display: none;
}
@media (max-width:710px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 100%;

        background-color: #16d4ff;
        box-shadow: -5px 0 5px rgb(110, 237, 237);
        transition: 0.75s ease-out;
    }
nav a{
    box-sizing: border-box;
     height: auto;
     width: 100%;
     padding: 20px 30px;
     justify-content: flex-start;
 }
 .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
}
#sidebar-active:checked ~ .links-container{
   right: 0;
}
#sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
}
#imgg, #imggg{
    width: 100%;
}
}
.forma{
    padding: 15px;
}
.forma p{
   display: flex;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: black;
}

button{
    background-color: rgb(63, 36, 237);
    border: none;
    color: white;
    font-size: 1.cm;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 150ms ease;
}
button:hover{
    background-color: #16d4ff;
    scale: 2;
}
a{
    text-decoration: none;
    color: black;
}
.kartica {
    margin: 0px 300px;
    position:absolute;
  }
  p{
    padding: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 18px;
  }
  h1{
    text-align: center;
    text-decoration: underline;
  }
table{
        width: 50%;
        margin: 10px 320px;
        padding: 7px;
        text-align: center;
        background-color:aquamarine;
}
#ponuda{
    width: 800px;
    height: 200px;
    border:  none ;
    margin: 10px 300px;
}
.jedan{
    color: black;
}
.tekst{
    text-align: justify;
    margin: 10px 50px;
}
#imgg{
  display: inline;
  width: 300px;
  margin: 10px 200px;
  border: 3px dashed black;
  border-radius: 15px;
}
#imggg{
    display: inline;
    width: 600px;
    margin: 10px;
    border: 3px dashed black;
    border-radius: 15px;
}
#imgg:hover{
    border: 3px solid aquamarine;
}
#imggg:hover{
    border: 2px solid aquamarine;
    border-radius: 50px;
}
.txt:hover{
    background-color: aquamarine;
    border-radius: 15px;
}
.slika{
    width: 500px;
    height: 450px;
    border-radius: 25px;
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-delay: 1s;
}
@keyframes example{
   from{
    left: 0;
    transform: scale(0);
   }
   to{
    left: 200px;
    transform: scale(1);
   }
}
